
body {
    font-family: Arial, sans-serif;
     background: linear-gradient(135deg, #71b7e6, #9b59b6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
  .login-container {
            background: whitesmoke;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 300px;
            max-width:90%;
        }
        .login-container h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.btn{
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
  
}


.forgot-pass {
    text-align: right;
    margin-top: 10px;
}
.forgot-pass a {
    text-decoration: none;
}
.forgot-password a:hover {
    text-decoration: underline;
}
.join{
    text-align:left;
    margin-top: 10px;

}
.join a{
    color: #007bff;
    text-decoration: none;
}
.join a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  
}